@import "../sass/base/media";

.container {
    max-width: 1140px;
    padding:0 20px;
    margin: 0 auto;
}


@import "../sass/blocks/country";
@import "../sass/blocks/phone";
@import "../sass/blocks/buttons";
@import "../sass/blocks/advantages";
@import "../sass/blocks/solutions";
@import "../sass/blocks/industry";
@import "../sass/blocks/option";
@import "../sass/blocks/access";
@import "../sass/blocks/footer";