.access {
    display: none;
    max-height: 880px;
    img {
        margin: 0 auto;
        max-width: 100%;
    }
    &__content {
        text-align: center;
    }
    &__title {
        margin: 0 auto;
        max-width: 585px;
        margin-top: 74px;
        color: #393939;
        font-size: 30px;
        font-weight: 800;
        line-height: 36px;
    }
}
.access__button-access {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 80px;
    } 