.advantages {
    display: none;
    min-height: 895px;
    &__info-up {
        display: flex;
        justify-content: center;
        margin-top: 48px;
        img {
            padding: 10px;
            max-width: 100%;
        }
    }
    &__text-up {
        position: absolute;
        max-width: 13%;
        padding: 4px;
        margin-top: -80px;
        margin-left: 35px;
        text-align: center;
        color: #393939;
        font-size: 95%;
        font-weight: 300;
        line-height: 26px
    }
 
    &__info-down {
        display: flex;
        justify-content: center;
    }
    &__icon {
        padding: 10px;
        max-width: 100%;
    }
    &__text-down {
        position: absolute;
        padding: 4px;
        max-width: 13%;
        margin-top: -80px;
        margin-left: 35px;
        text-align: center;
        color: #393939;
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
    }
        img {
            width: 330px;
            border-color: white;
        }
    &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 19px;
        img {
            max-width: 100%;
        }
    }
    &__title {
        text-align: center;
        margin-top: 33px;
        margin-bottom: 50px;
        color: #393939;
        font-size: 48px;
        font-weight: 700;
        line-height: 30.04px;
        text-transform: uppercase;
    } 
}