button {
    width: 241px;
    height: 60px;
    margin-top: 39px;
    margin-left: 300px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.07);
    background-color: #00c2f0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    border-radius: 3px;
    border: none;
    &:hover {
        color:green
    }
}
