.country {
    max-height: 85px;
    &__block {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        margin-bottom: 10px;
 
    }
    &__item {
        display: flex;
        margin-top: 20px;
        color: #242424;
        font-size: 11px;
        font-weight: 300;
        line-height: 18px;
    }
    &__img {
        padding: 4px 11px 0 0;
    }
    &__text {
        width: 189px;
        &_uk {
            width: 157px;
        }
    }
}