.country {
    min-height: 85px;
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 10px;
 
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin-top: 20px;
        color: #242424;
        font-size: 9px;
        font-weight: 300;
        line-height: 14px;
    }
    &__img {
        padding: 4px 11px 0 0;
    }
    &__text {
        max-width: 189px;
        &_uk {
            max-width: 157px;
        }
    }
}