.industry {
    display: none;
        min-height: 600px;
    &__title {
        max-width: 371px;
        margin: 0 auto;
        margin-top: 81px;
        margin-bottom: 44px;   
        font-size: 30px;
        font-weight: 600;
        line-height: 35.99px;
        text-align: center;
    }
    &__content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
 
    }
    &__block {
        position: relative;
        z-index: 1;
    }
    &__img {
        margin: 0 auto;
        max-width: 500px;
        height: 100%;
    }
    &__subtitle {
        position: absolute;
        margin-top: -250px;
        width: 500px;
        height: 156px;
        background-color: rgba(0, 0, 0, 0.3);;
        z-index: 10;
    }
    &__text {
        text-align: center;
        padding-top: 39px;
        color: #ffffff;
        font-size: 23px;
        font-weight: 400;
        line-height: 26px;
        opacity: 1.9;
    }
}