.hamburger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    display: none;
    cursor: pointer;
    span {
        display: flex;
        width: 20px;
        height: 2px;
        margin-top: 3px;
        background-color: black;
    }
    &__content {
        margin-top: 20px;
        &:active {
            transform: rotate(90deg);
        }
    }
}
.phone {
    display: none;
    min-height: 670px;
    background: url(../../img/b-1new.png) center (center/cover) no-repeat;
    &__logo {
        justify-content: flex-start;
        margin-top: 39px;
        img {
            width: 230px;
        }
    }
    &__logo-img {
        margin-top: 10px;
        max-width: 110%;
    }
    &__up {
        display: flex;
    }
    &__menu {
        display: flex;
        margin-top: 64px;
        margin-left: auto;
    }
    ul {
        display: flex; 
        list-style-type: none;
    }
    a {
        padding: 15px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 600;
        line-height: 26px;
        text-transform: uppercase;
    }
    &__title {
        margin-top: 133px;
        color: #ffffff;
        font-size: 42px;
        font-weight: 400;
        line-height: 48px;
    }
    p {
        display: inline;
        color: #ffffff;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
    }
    &__subtitle {
        color: #ffffff;
        font-size: 24px;
        font-weight: 300;
        line-height: 30px;
        font-weight: 100;
    }
    &__items {
        display: flex;
        justify-content: space-between;
    }
    
    &__img {
        bottom: 0;
    }
}   
