/* .hamburger {
    
    .span {
        width: 150px;
        height: 150px;
        background-color: #fff;
    }
} */
.phone {
    position: relative;
    min-height: 700px;
    background: url(../../img/b-1new.png) center (center/cover) no-repeat;
    &__logo {
        display: flex;
        justify-content: flex-start;
        margin-top: 39px;
    }
    &__up {
        display: flex;
    }
    &__menu {
        margin-top: 64px;
        margin-left: auto;
    }
    ul {
        display: flex;  
        list-style-type: none;
    }
    a {
        padding-left: 45px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 600;
        line-height: 26px;
        text-transform: uppercase;
    }
    &__title {
        margin-top: 133px;
        color: #ffffff;
        font-size: 42px;
        font-weight: 400;
        line-height: 48px;
    }
    p {
        display: inline;
        color: #ffffff;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
    }
    &__subtitle {
        color: #ffffff;
        font-size: 24px;
        font-weight: 300;
        line-height: 30px;
        font-weight: 100;
    }
    &__img {
        position: absolute;
        margin-left: 670px;
        margin-top: -371px;
        
    }  
}   
